<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'travel_app:index' %}">HelloWorld Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'travel_app:planes' %}">Planes
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'travel_app:trains' %}">Trains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'travel_app:automobiles' %}">Automobiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'travel_app:boats' %}">Boats</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if request.session.user_id %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{ request.session.email }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'bill_tracker:index' %}">Expenses</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'travel_app:logout' %}">Logout</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'travel_app:register' %}">Create New Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'travel_app:login' %}">Login</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            </ul>
        </div>
    </div>
</nav>